<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" />

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header" th:style="'position: relative'">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SBMPTN</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#" th:href="@{/}">Home</a></li>
				<li><a href="#" th:href="@{/univ}">Universitas</a></li>
			</ul>
		</div>
	</div>
</div>