<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pengumuman SBMPTN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
		<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
		<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
  		<script th:src="@{/js/bootstrap.min.js}"></script>
  		
  		<link th:href="@{/css/index-default.css}" rel="stylesheet"/>
	</head>
	<body>
		 <div th:replace="header :: header">...</div>
		 <div class="main-container">
		 	<span class="index-title">Pengumuman SBMPTN</span>
		 	<form class="form-cek-pengumuman" action="/pengumuman/submit" method="post">
				<div class="form-group">
					<label for="nps">Masukkan nomor peserta anda:</label>
					<input type="text" class="form-control" name="nomor"/>
				</div>
				<button class="btn btn-success" type="submit" name="action" value="save">Submit</button>
			</form>
		 </div>
	</body>
</html>