<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pengumuman - Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/bootstrap.min.js}"></script>

<link th:href="@{/css/index-default.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="header :: header">...</div>
	<div class="main-container">
		<span class="index-title">Pengumuman SBMPTN</span>
		<table class="table">
			<tbody>
				<tr>
					<td>Nomor</td>
					<td>:</td>
					<td th:text="${peserta.nomor}"></td>
				</tr>
				<tr>
					<td>Nama</td>
					<td>:</td>
					<td th:text="${peserta.nama}"></td>
				</tr>
				<tr>
					<td>Tanggal Lahir</td>
					<td>:</td>
					<td th:text="${#dates.format(peserta.tgl_lahir, 'd MMMM yyyy')}"></td>
				</tr>

				<tr>
					<td>Umur</td>
					<td>:</td>
					<td
						th:text="${#dates.format(#dates.createNow(), 'yyyy')} - ${#dates.format(peserta.tgl_lahir, 'yyyy')}"></td>
				</tr>
				<tr th:switch="${peserta.kode_prodi}">
					<td th:case="null" colspan="3" class="danger pass-inform">Mohon
						maaf, Anda belum lulus seleksi SBMPTN</td>
					<td th:case="*" colspan="3" class="success pass-inform">Selamat
						Anda lulus seleksi SBMPTN pada prodi <a target="_blank"
						th:href="@{http:///}"></a>
					</td>
				</tr>


			</tbody>
		</table>
	</div>
</body>
</html>