<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pengumuman - Not Found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
		<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
  		<script th:src="@{/js/bootstrap.min.js}"></script>
  		
  		<link th:href="@{/css/index-default.css}" rel="stylesheet"/>
    </head>
    <body>
    	
       	<div th:replace="header :: header">...</div>
		 <div class="main-container">
		 	<span class="index-title">Pengumuman SBMPTN</span>
		 	<div class="pengumuman-info">
		 		<span class="peserta-tidak-ditemukan">Maaf, peserta dengan nomor 123456789 tidak ditemukan</span>
			</div>
	 	</div>
	 	
	 	
    </body>
</html>
