<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pengumuman SBMPTN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
		<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
		<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
  		<script th:src="@{/js/bootstrap.min.js}"></script>
  		
  		<link th:href="@{/css/index-default.css}" rel="stylesheet"/>
  		
  		<script>
	        $(document).ready(function() {
	    		$('#list-prodi').DataTable();
			});
        </script>
	</head>
	<body>
		 <div th:replace="header :: header">...</div>
		 <div class="main-container">
		 	<span class="index-title" th:text="${univs.kode_univ + ' - ' + univs.nama_univ}"></span>
       		<a target="_blank" th:href="${univs.url_univ}"><div th:text="${univs.url_univ}"></div></a>
		 	<table id="list-prodi" border="1" class="table table-striped table-bordered">
	        <thead class="head-table">
	     		<tr>
	        		<th>Kode</th>
	        		<th>Nama</th>
	        		<th>Detail</th>
	        	</tr>
	     	</thead>
	        <tbody>
	        	<tr th:each="prodi,iterationStatus: ${univs.prodi}">
			       	<td th:text="${prodi.kode_prodi}"></td>
			       	<td th:text="${prodi.nama_prodi}"></td>
			       	<td><a th:href="'/prodi?kode='+${prodi.kode_prodi}"><button type="button" class="btn btn-primary">Lihat Detail</button></a></td>
		       	</tr>
	        </tbody>
	        
        </table>
		 </div>
	</body>
</html>