<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Daftar Universitas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css}" rel="stylesheet"/> 	
<script th:src="@{http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js}"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/bootstrap.min.js}"></script>
<link th:href="@{/css/index-default.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="header :: header">...</div>
	<div class="main-container">
		<h1>Daftar Universitas</h1>
		<script>
			$(document).ready(function() {
				$('#universitas').DataTable();
			});
		</script>
		<table id="universitas" border="1"
			class="table table-striped table-bordered">
			<thead class="head-table">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Menu</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="univ,iterationStatus: ${univs}">
					<td th:text="${univ.kode_univ}">
					</td>
					<td th:text="${univ.nama_univ}">
					</td>
					<td>
						<a th:href="'/univ/'+${univ.kode_univ}"><button class="btn btn-primary" type="button"  name="action" value="save">
						Lihat detail
						</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>