<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pengumuman SBMPTN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
		<script th:src="@{/js/jquery-1.7.1.min.js}"></script>
		<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
  		<script th:src="@{/js/bootstrap.min.js}"></script>
  		
  		<link th:href="@{/css/index-default.css}" rel="stylesheet"/>
  		
  		<script>
	        $(document).ready(function() {
	    		$('#list-peserta').DataTable();
			});
        </script>
	</head>
	<body>
		 <div th:replace="header :: header">...</div>
		 <div class="main-container">
		 	<span class="index-title" th:text="${prodiUnivPeserta.universitas.kode_univ + ' - ' + prodiUnivPeserta.universitas.nama_univ}"></span>
		 	<div class="prodi-title"><span th:text="${prodiUnivPeserta.kode_prodi + ' - ' + prodiUnivPeserta.nama_prodi}"></span></div>
       		<a target="_blank" th:href="${prodiUnivPeserta.universitas.url_univ}"><div th:text="${prodiUnivPeserta.universitas.url_univ}"></div></a>
       		<div class="daftar-title"><span class="index-title">Daftar Peserta</span></div>
       		<span th:text="'Peserta Tertua:' + ' ' + ${maxPeserta.nomor + ' - ' + maxPeserta.nama + ', ' + umurMaxPeserta + ' tahun.'}"></span>
       		<div><span th:text="'Peserta Termuda:' + ' ' + ${minPeserta.nomor + ' - ' + minPeserta.nama + ', ' + umurMinPeserta + ' tahun.'}"></span></div>
		 	<table id="list-peserta" border="1" class="table table-striped table-bordered">
	        <thead class="head-table">
	     		<tr>
	        		<th>Nomor Peserta</th>
	        		<th>Nama Peserta</th>
	        		<th>Menu</th>
	        	</tr>
	     	</thead>
	        <tbody>
	        	<tr th:each="peserta,iterationStatus: ${prodiUnivPeserta.peserta}">
			       	<td th:text="${peserta.nomor}"></td>
			       	<td th:text="${peserta.nama}"></td>
			       	<td><a th:href="'/peserta?nomor='+${peserta.nomor}"><button type="button" class="btn btn-primary">Lihat Detail</button></a></td>
		       	</tr>
	        </tbody>
	        
        </table>
		 </div>
	</body>
</html>