.main-container {
    margin: 20px 0px 0px 150px;
    width: 60%;
}

span.index-title {
    font-size: 23px;
}

form.form-cek-pengumuman {
    margin-top: 20px;
}

.form-control{
	width: 25%;
}

.pengumuman-info {
    margin-top: 5px;
}

.table{
	margin-top: 20px;
}

td.pass-inform{
	text-align: center;
}